<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
<h1 style="text-align: center;"> Fill Your Details </h1>
        <div style="width: 30%; margin: 30px auto;">
 <form action='/register/details' method="POST" >
                        <div class="form-group" >

                                 <input class="form-control" type = "text" name="customer[companyName]" placeholder="companyName" required>
                        </div>


                        <div class="form-group">

                                 <input class="form-control" type="text" name="customer[customerName]" placeholder="ownerName" required>
                        </div>

                        <div class="form-group">

                                 <input class="form-control" type="email" name="customer[email]" placeholder="email" required>
                        </div>

                        <div class="form-group">

                                 <input class="form-control" type="text" name="customer[contact]" placeholder="contact" required>
                        </div>

                        <div class="form-group">

                                 <input class="form-control" type="text" name="customer[address]" placeholder="address" required>
                        </div>

                        <div class="form-group">

                                 <input class="form-control" type="text" name="customer[location]" placeholder="location" required>
                        </div>

                          <div class="form-group">
                           <label class="control-label col-sm-offset-2 col-sm-2" for="industry">Industry</label>
                           <div class="col-sm-6 col-md-8">
                             <select name ="customer[industry]" id="industry" class="form-control">
                               <option>Textile industry</option>
                               <option>Manufacturing industry</option>
                               <option>Mining industry</option>
                               <option>Cotton industry</option>
                               <option>Feeder industry</option>
                               <option>Ancillary industry</option>
                               <option>Pharmaceuticals industry</option>
                               <option>Tourism industry</option>
                             </select>
                           </div>
                         </div>

                        <div class="form-group">

                                 <textarea class="form-control" type="text" name="customer[description]" placeholder="description" required></textarea>
                        </div>

                        <div class="form-group">
                                 <button class="btn btn-default btn-lg showcase-btn btn-block"> Confirm! </button>
                        </div>

<!--
//        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
//
//     <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
//
-->
 </form>

       </div>
    </div>
</div>





<% include ./partials/footer.ejs %>
