<% include ./partials/header.ejs %>



<div class="container">
    <div class="jumbotron-landing">
<div class="gear-img">
    
    <img src="../assets/silver-gear-cogs-animation-5.gif" >
    
    </div>
    
    <h1 class="brand-name">Edoyog!</h1>
  <button class="btn btn-lg btn-danger btn-connect">Connect</button>
    
</div>

</div>






<% include ./partials/footer.ejs %>