html {
    height: 100%;
}

body{	
	
    opacity: 1.0;
    height: 100%;
}

.gear-img{ 
    
    margin: 80px auto;
    display: inline-block;
    position: relative;
    height: 371px;
    left: 33%;
    
}

.gear-img img {
    
    height: 100%;
    
}

.jumbotron-landing {
    
    background: transparent;
    margin-top: -10px;
}

.jumbotron-landing > h1{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight:800;
    margin-top: -75px;
    text-shadow:  2px 1px 5px black;
}

.btn-connect {
    margin-left: 45%;
    margin-top: 1%;
}

.user-details {
  
    
    box-shadow:5px 5px 2.5px #888888;
}
.user-details:hover{
    
     box-shadow: 10px 10px 5px #888888;
    
}

.btn-collab{
    
    position: relative;
  margin-top:51px;
}


.divider{
    
    width: 100%;
    border : 0.1px solid  #d4d1d1;
}

.container-show{
    margin-top:80px;
}

.row-show{
    height: auto;
}


.col-showimg{
    height: 100%;

}
.col-showdesc {
    height: 100%;
    word-wrap: break-word;
}
.col-showdetails{
    height: 100%;
    margin-top: 4%;
}

.thumbnail-show {
    
    height: 100%;
    width: 100%

}
.thumbnail-show {
    
    height: 100%;
    width: 100%

}


.thumbnail-show img 
{
	width: 100%;
    height: 100%;
}

.product-details-row{
    
    display: none;
}

